*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary

*.pdf binary
*.ppt binary
*.pptx binary
*.key binary
*.doc binary
*.docx binary

*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
